<% provide(:title, @user.username) %>
<div class="row">
  <div id="user_info_header">
    <h2>
      <%= avatar_for @user %>
      <%= @user.username %>
    </h2>
  </div>
  <aside class="col-md-4">
    <section class="user_info">
      <h3> Stats </h3>
      <table class="userstats" border="1">
        <thead>
          <tr>
            <th>Matches Played</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Ties</th>
            <th>Time Outs</th>
            <th>Win Percentage</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="matchcount">
              <%= @user.matches.count %>
            </td>
            <td class="wins">
              <%= @user.stat.wins %>
            </td>
            <td class="losses">
              <%= @user.stat.losses %>
            </td>
            <td class="ties">
              <%= @user.stat.ties %>
            </td>
            <td class="timeouts">
              <%= @user.stat.timeouts %>
            </td>
            <td class="win_percentage">
              <%= @user.stat.win_percentage %>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @user.username %> has <%= pluralize(@user.ais.count, "bot") %> uploaded:</h3>
    <% if @user.ais.any? %>
      <% user_ais = @user.ais.paginate(page: params[:page]) %>
      <table class="ais" border="1">
        <thead>
          <tr>
            <th>Name</th>
            <th>Owned By</th>
            <th>Game</th>
            <th>Created at</th>
            <th>Matches Played</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Ties</th>
            <th>Illegal Moves</th>
            <th>Time Outs</th>
            <th>Win Percentage</th>
          </tr>
        </thead>
        <tbody>
          <%= render user_ais %>
        </tbody>
      </table>
      <%= will_paginate user_ais %>
    <% end %>
  </div>
</div>
<div class="row">
  <h3> Match History </h3>
  <% if @user.matches.any? %>
    <% user_matches = @user.matches.paginate(page: params[:page]).order('id DESC') %>
    <table class="matches" border="1">
      <thead>
        <tr>
          <th> Match ID </th>
          <th> Game </th>
          <th> Player One </th>
          <th> Player Two </th>
          <th> Result </th>
        </tr>
      </thead>
      <tbody>
        <%= render user_matches %>
      </tbody>
    </table>
    <%= will_paginate user_matches %>
  <% else %>
    <p>(<i><%= @user.username %></i> has not played any matches)</p>
  <% end %>
</div>

