<% provide(:title, @user.username) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= avatar_for @user %>
        <%= @user.username %>
      </h1>
      <p>
        <Strong> Stats </Strong> <br>
        Wins: <%= @user.wins %> | losses: <%= @user.losses %> | ties: <%= @user.ties %>
      </p>
      <p>
        <Strong> Match History </Strong> <br>
        <% @user.matches. %>
      </p>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @user.username %> has <%= pluralize(@user.ais.count, "bot") %> uploaded:</h3>
    <% if @user.ais.any? %>
      <ol class="ais">
        <%= render @ais %>
      </ol>
      <%= will_paginate @ais %>
    <% end %>
  </div>
</div>
