<tr id="ai-<%= ai.id %>">
  <td>
    <%= link_to ai.username, ai %>
  </td>
  <td>
    <%= link_to ai.user.username, ai.user %>
  </td>
  <td>
    <%= ai.game.name %>
  </td>
  <td>
    <%= time_ago_in_words(ai.created_at) %> ago.
  </td>
  <td class="stats wins">
    <%= ai.stat.wins %>
  </td>
  <td class="stats losses">
    <%= ai.stat.losses %> 
  </td>
  <td class="stats ties">
    <%= ai.stat.ties %>
  </td>
  <td class="stats illegals">
    <%= ai.stat.illegals %>
  </td>
  <td class="stats timeouts">
    <%= ai.stat.timeouts %>
  </td>
  <td class="stats win_percentage">
    <%= ai.stat.win_percentage %>
  </td>
</tr>
