<% provide(:title, @ai.user.username + " | " + @ai.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="ai_info">
      <h1>
        <%= @ai.name %>
      </h1>
      <p>
        <Strong> Stats </Strong> <br>
      </p>
    </section>
  </aside>
  <div class="col-md-8">
    <% if current_user == @ai.user %>
      <pre><%= render file: @ai.location.current_path %></pre>
    <% else %>
      <%= form_for @match do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.hidden_field :type, value: "Ai" %>
        <%= f.hidden_field :mario, value: @ai.id %>
        <%= f.label "Your champion:" %>
        <%= f.collection_select(:luigi, current_user.ais, :id, :name) %>
        <%= f.submit "Challenge!", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
</div>
