<% provide(:title, @ai.user.username + " | " + @ai.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="ai_info">
      <h1>
        <%= @ai.name %>
      </h1>
      <% if current_user != @ai.user %>
        <%= form_for @match do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          
          <%= f.label "Your champion:" %>
          <%= f.collection_select(:champion, current_user.ais, :id, :name) %>
          <%= f.submit "Challenge!", class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if current_user == @ai.user %>
      <pre><%= render file: @ai.location.current_path %></pre>
    <% end %>
  </div>
</div>
